:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --thirdy-color: #ffffff;
  --accent-color: #2196f3;
  --dark-color: #2f303a;
  --light-color: #f5f4fa;
  --logo-color: #000000;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
}

body {
  background-color: var(--thirdy-color);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--primary-font-size);
  letter-spacing: 0.03em;
}

.logo {
  text-decoration: none;
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-style {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.site-nav .link {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--dark-color);
}

.hero-title {
  color: var(--thirdy-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  font-family: inherit;
  color: var(--thirdy-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-subtitle {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.1;
  text-transform: uppercase;
}

.features-descr {
  font-size: var(--primary-font-size);
  line-height: 1.7;
}

.works-title,
.team-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.team {
  background-color: var(--light-color);
}

.team-subtitle {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.2;
  text-align: center;
}

.team-descr {
  font-size: var(--secondary-font-size);
  line-height: 1.2;
  text-align: center;
}

.footer {
  background-color: var(--dark-color);
}

.footer > .logo {
  color: var(--thirdy-color);
}

.address {
  font-size: var(--primary-font-size);
  line-height: 1.7;
  font-style: normal;
}

.address .link {
  color: var(--footer-address-color);
}

.address .map {
  text-decoration: none;
  color: var(--thirdy-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Стилі для сторінки портфоліо */

.filters-btn {
  background-color: var(--light-color);
  color: var(--secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: var(--thirdy-color);
}

.projects-subtitle {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-descr {
  font-size: var(--secondary-font-size);
  line-height: 1.9;
}
